{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/free.css' %}">
{% endblock %}

{% block title %}
    Створення free
{% endblock %}



{% block content %}
<div class="container">
    <div class="free">
        <span class="p1">Free</span>
        <span class="p2">QR-code</span>
        <span class="p3">6 місяців</span>
    </div>

    {% if error %}
        <p class="error-message" style="color: red;">{{ error }}</p>
    {% endif %}
    <div class="main">
        
        <form class = "qr-form" method="POST">
            {% csrf_token %}
            <h2>
                <img src="{% static 'img/icon_link.png' %}" alt="">
                Ваш url-адрес
            </h2>
            <input type="text" name="link" placeholder="https://qr-easy-generator.com/" required>

            <h2>
                <img src="{% static 'img/icon_name.png' %}" alt="">
                Ваша назва
            </h2>
            <input type="text" name="name" placeholder="QREasy-код" required>

            <button class="QR_button" id = 'qr-button' type="submit" >Створити</button>
        </form>
        <div class="qr-code-container">
            <h2>Ваш QR-код:</h2>
            {% if qr_image_url %}
                <img class="QR" src="{{ qr_image_url }}" alt="generated QR-код">
            {% else %}
                <img class="QR" src = "{% static 'img/QR.png' %}" alt="generated QR-код">
            {% endif %}
        </div>

        
        


        

    </div>
</div>

<!-- Користувач натискає на кнопку 'Створити'. Відправляє на сервер метод POST 
 Браузер отримує відповідь від сервера і перезавантажує сторінку.
 Але зміни Javascript, в нашому випадку блокування кнопки перезапускаються з нуля, 
 Тому що зміни js застосовуються перед оновленням сторінки.
 -->



{% endblock %}