{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/standard.css' %}">
{% endblock %}
{% block content %}




<body>
    
    <div class="standard">
        <div>
            <p class="p1">Standard</p>
            <p class="p2">QR-code</p>
            <p class="p3">12 місяців</p>
        </div>
    </div>

    <div class="main">
        <form>
            <h2><img src="{% static 'img/icon_link.png' %}" alt=""> Ваш url-адрес</h1>
            <input type="text" placeholder="https://qr-easy-generator.com/" required>
            <h2><img src="{% static 'img/icon_name.png' %}" alt=""> Ваша назва</h2>
            <input type="text" placeholder="QREasy-код" required>
            <h2><img src="{% static 'img/icon_name.png' %}" alt=""> Укажіть розмір QR-коду</h2>
            <input type="text" placeholder="100px" required>
            <h2><img src="{% static 'img/icon_name.png' %}" alt=""> Укажіть колір QR-коду</h2>
            <input type="text" placeholder="red" required>
        </form>
        <div class = "QR_button">
            <img class="QR" src="{% static 'img/QR.png' %}" alt="">
            <button type="submit" >Створити</button>
        </div>

    </div>
    



</body>



{% endblock %}