{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/standard.css' %}">
{% endblock %}

{% block title %}
    Створення standard
{% endblock %}


{% block content %}




<body>
    
    <div class="standard">
        <div>
            <p class="p1">Standard</p>
            <p class="p2">QR-code</p>
            <p class="p3">12 місяців</p>
        </div>
    </div>

    <div class="main">
        <form method="post">
            {% csrf_token %}
            <h2><img src="{% static 'img/icon_link.png' %}" alt=""> Ваш url-адрес</h2>
            <input class="input-type1" type="text" name="link" placeholder="https://qr-easy-generator.com/" required>
        
            <h2><img src="{% static 'img/icon_name.png' %}" alt=""> Ваша назва</h2>
            <input class="input-type1" type="text" name="name" placeholder="QREasy-код" required>
        
            <h2><img src="{% static 'img/icon_name.png' %}" alt=""> Укажіть розмір QR-коду</h2>
            <input class="input-type4" type="range" name="size" value="150" min = '100' max="300" id="input-range" required>
            <label id= 'range-label' for="input-range">Ширина: 100px</label>

        
            <h2><img src="{% static 'img/icon_name.png' %}" alt=""> Укажіть колір QR-коду</h2>
            <label>Колір шаблону:</label>
            <div class="input-colors">
                <input class="input-type2" type="color" name="color" id= 'color-picker' required>
                <input class="input-type3" type="text" name="color" id= 'color-text' placeholder="#FFFFFF" required>
            </div>

            <label>Колір фону:</label>
            <div class="input-colors">
                <input class="input-type2" type="color" name="back-color" id = 'color-picker1' required>
                <input class="input-type3" type="text" name="back-color" id= 'color-text1' placeholder="#FFFFFF" required>
            </div>
            
            <button class = 'create-st' type="submit">Створити</button>

            
        </form>

        <script src="{% static 'js/standart.js'%}"></script>

        
       

    </div>
    



</body>



{% endblock %}