{% extends 'base.html' %}
{% load static %}

{% block title %}
  Мої QR-коди
{% endblock %}

{% block content %}
<main class="main1">
    <div class="modal-buttons" style="display: none;">
        <button id="jpeg-download" class="jpeg-button">ЗАВАНТАЖИТИ</button>
        <button id="png-download" class="png-button">ЗАВАНТАЖИТИ</button>
    </div>

    <span class="qr-text">
        <h1>Мої QR-коди</h1>
    </span>

    <div class="filter">
        <div>
            <p>Сортувати за</p>
            <img src="{% static 'my_qrcodes/images/filter_down.png' %}" width="16.5px" height="7.5px" alt="">
        </div>
    </div>

    <div class="qr-codes">
        {% if user_qrcodes %}
            {% for qrcode in user_qrcodes %}
                <div class="qr-item">
                    <p>{{ qrcode.created_at|date:"d F, Y" }}</p>
                    <img class="my-qrcode-img" src="{{ qrcode.image.url }}" alt="QR код">
                    <div>
                        <h2>{{ qrcode.name }}</h2>
                        <a href="{{ qrcode.image.url }}" download>
                            <button class="download-button" id="download-btn"></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Вы еще не создавали QR-коды.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
