{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'login/css/login.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

{% endblock %}


{% block content %}
<header>
    <img src="{% static 'login/img/logo.png' %}" alt="">
    <div class="logo">QREasy</div>
</header>

<body>
    {% if next %}
        <form action="/log/?next={{ next }}" method="post" >
    {% else %}
        <form method="post">
    {% endif %}
       
        {% csrf_token %}
        <h2>Увійти</h2>
        <h3>Ім`я</h3>
        <div class="iconBox">
            <div class="blue"></div>
            <input type="text" name="username" placeholder="name" required><img src="{% static 'login/img/img4.png' %}" alt="">
        </div>
        <h3>Пароль</h3>
        <div class="iconBox">
            <div class="blue"></div>
            <input class="star" type="password" name="password" placeholder="*******" required><img src="{% static 'login/img/lock.png' %}" alt="">
        </div>
    
        
        {% if user == None %}
            <p style="color: red;">Логін або пароль некоректні</p>  <!-- Invalid email or password -->
        {% endif %}

        <button type="submit">Увійти</button>
        <a href="/reg">Не маєте акаунт?</a>
        </form>
</body>
{% endblock %}
