{% extends 'base.html' %}
{% load static %}
{% block title %}Контакти{% endblock %}

{% block content %}
<div class="content">
    <div class="qr-section">
        <img src="{% static 'contact/images/qr-code.png' %}" alt="QR-код">
    </div>
    <div class="contact-info">
        <h2>У тебе є запитання?</h2>
        <p>+380569871568<br>QREasy@gmail.com</p>
        <p>Ми працюємо для вас у<br> понеділок-неділя: 8:00-21:00</p>
        <p>Ми завжди вам раді!<br> На вул. QRCodiw 3</p>
    </div>
</div>
{% endblock %}
